#main {
    background-color: brown;
    margin: 0;
    padding: 0;
}

#main-table {
    margin: auto;
    margin-top: 0%;
    width: 100%;
}

#legend-table {
    margin: auto;
    width: 50%;
}

th {
    padding: 10px;
    color: white;
    border: 1px solid #080808;
    border-collapse: collapse;
    background: linear-gradient(top, #460670 0%, #000000 100%);
    background:-webkit-linear-gradient(top, #460670 0%, #000000 100%);
}

table, tr, td {
    padding: 10px;
    color: white;
    border: 1px solid #080808;
    border-collapse: collapse;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background:-webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}

th {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

td:hover {
    background: navy;
}

a {
    color: yellow;
}